body {
  font-family: "DBOzoneX";
}
.ant-layout-sider {
  background-color: #ffffff;
  // border: 1px solid red;
}

.trigger {
  padding-left: 5px;
  border: 1 solid gray;
  // padding-top: 15px;
  font-size: 22px;
  // line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.menu-item-control {
  font-size: 18px;
  line-height: 80%;
  height: 51px;
}
