.header-control {
  background-color: #007bc1;
}

.Main-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  border-radius: 5px;
  .container-fluid {
    padding: 1rem 3rem;
    display: flex;
  }
}
