@import "../../node_modules/antd/lib/style/themes/default.less";

body {
  font-family: "DBOzoneX";
}

.notification-notice-message {
  font-size: 23px;
  font-weight: 900;
}

// .ant-notification-notice-message-single-line-auto-margin {
//   font-size: 20px;
//   font-weight: 700;
// }

// .ant-notification-notice-with-icon .ant-notification-notice-message {
//   font-size: 23px;
//   font-weight: 700;
// }
