body {
  font-family: "DBOzoneX";
}

.search-box-position {
  margin-top: 15px;
  margin-left: 34px;
  margin-bottom: 20px;
  width: 610px;
  height: 32px;
  font-size: 20px;
  display: flex;
}

.filter-button-position {
  margin-top: 15px;
  margin-left: 34px;
  margin-bottom: 20px;
  width: 250px;
  // height: 25px;
  font-size: 20px;
  display: flex;
}

.input-width {
  width: 310px;
  height: 32px;
}

.datepicker-width {
  width: 310px;
  height: 32px;
  font-size: 18px;
  text-align: center;
}

.input-width-datepicker {
  padding: 10px;
  font-size: 18px;
  width: 100px;
  height: 32px;
}

.input-label-width {
  padding: 10px;
  font-size: 18px;
  width: 130px;
  height: 32px;
}

.input-width-doctype {
  padding: 8px;
  font-size: 18px;
  width: 102px;
  height: 32px;
}

.selected-width-doctype {
  width: 200px;
  height: 32px;
  font-size: 18px;
}

.subselected-menu {
  font-size: 18px;
}

.search-button {
  // margin-left: 10px;
  font-size: 18px;
  width: 80px;
  height: 34px;
  background-color: #007bc1;
  border-radius: 4px;
  color: white;
}

.more-menu {
  margin-left: 10px;
  font-size: 18px;
  width: 200px;
  height: 32px;
  color: #007bc1;
}

.more-button {
  margin-left: 10px;
  font-size: 18px;
  width: 120px;
  height: 35px;
  color: #007bc1;
}

.remove-button-height {
  margin-left: 10px;
  height: 35px;
  background-color: red;
  color: white;
}

element {
  font-size: 18px;
}
.ant-input-group-addon {
  font-size: 18px;
}

.ant-input-group .ant-input {
  font-size: 18px;
}

.multi-select {
  --rmsc-height: 38px;
}
