body {
  margin: 0;
  font-family: "DBOzoneX";
}

@font-face {
  font-family: "DBOzoneX";
  src: local("DBOzone"), url(./assets/fonts/DBOzoneX.ttf) format("opentype");
}

@font-face {
  font-family: "DBOzoneBold";
  src: local("DBOzone"), url(./assets/fonts/DBOzoneXBold.ttf) format("opentype");
}
